@import "../scss/mixins/reset.scss";
@import "../scss/mixins/variables.scss";
@import "../scss/functions/px-to-rem.scss";
@import "../scss/mixins/breakpoints.scss";

.bookmark-app {
    font-size: toRem(18);
    font-weight: 400;
    color: $dark_blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;

    &__modal-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        background-color: hsla(229, 31%, 21%, 0.5);
        opacity: 0;
        animation: fade-in linear 0.5s forwards;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: toRem(1330);
        padding: 0 toRem(12);
        margin: toRem(35) 0;
        
        @include breakpoint-above(md) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: toRem(55) 0;
        }

        &__image {
            width: toRem(350);
            height: toRem(250);
            min-width: toRem(350);
            min-height: toRem(250);
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                border-radius: 50%;
                bottom: toRem(-10);
                left: toRem(80);
                width: toRem(200);
                height: toRem(200);
                background-color: $main_blue;
                z-index: -5;
            }
            
            &::after {
                content: "";
                position: absolute;
                display: block;
                bottom: toRem(-10);
                left: toRem(180);
                width: toRem(1800);
                height: toRem(200);
                background-color: $main_blue;
                z-index: -5;
            }
  
            @include breakpoint-above(sm) {
                width: toRem(650);
                height: toRem(480);
                min-width: toRem(650);
                min-height: toRem(480);

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    border-radius: 50%;
                    bottom: toRem(-20);
                    left: toRem(200);
                    width: toRem(350);
                    height: toRem(350);
                    background-color: $main_blue;
                    z-index: -5;
                }
                
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    bottom: toRem(-20);
                    left: toRem(375);
                    width: toRem(1800);
                    height: toRem(350);
                    background-color: $main_blue;
                    z-index: -5;
                }
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0 toRem(20);
        margin: toRem(40) 0;

        @include breakpoint-above(md) {
            margin: toRem(60) 0;
        }

        &__title {
            font-size: toRem(24);
            font-weight: 500;
            max-width: toRem(300);

            @include breakpoint-above(md) {
                font-size: toRem(30);
                max-width: toRem(500);
            }
        }

        &__text {
            font-size: toRem(15);
            line-height: 1.7;
            color: $neutral_grey;
            max-width: toRem(300);
            padding: toRem(15) 0;

            @include breakpoint-above(md) {
                font-size: toRem(18);
                line-height: 1.5;
                max-width: toRem(550);
                padding: toRem(25) 0;
            }
        }

        &__button {
            margin-top: toRem(50);
            margin-bottom: toRem(85);
        }

        &__cards-wrapper {
            display: flex;
            flex-direction: column;
            gap: toRem(45);
            margin-top: toRem(30);
            margin-bottom: toRem(60);

            @include breakpoint-above(md) {
                flex-direction: row;
                gap: toRem(35);
                margin: toRem(35) 0;
            }
        }
    }

    &__footer {
        width: 100%;
        background-color: $dark_blue;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}